@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    background: #fff;
}

*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.deskripsi2 {
    display: none;
}

.deskripsi2 {
    margin-top: 20px;
    margin-left: 12rem;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px #ededed;
    border: #ededed solid 3px;
    border-radius: 10px;
    display:block;
    width: 40%;
}
@media (max-width: 650px){
    .searchbar .logo{
        display: none;
    }
}

@media (max-width: 550px){

.deskripsi2 {
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px #ededed;
    border: #ededed solid 3px;
    border-radius: 10px;
    width: 80%;
}
  
.deskripsi2 h6 {
    font-weight: bolder;
    }
}